<a href="https://colab.research.google.com/github/Sahanag15/Python/blob/main/List%2C_Tuple%2C_Set%2C_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples in Python ->  It is denoted by ().
1. Multiple values can be assigned with same or different types.
2. Value can be fetched using indexing.
3. It is  Immutable.
4. Methods that can be used in Tuples are-
  a. list.count(x)
  b. list.index(x)

In [1]:
a = (1, 2,3,4)
print(a)

(1, 2, 3, 4)

In [2]:
b = (1,10234,"SAHANA")
print(b)

(1, 10234, 'SAHANA')

In [3]:
c = (4,5,7)
print(c[0])

4

In [4]:
c[0]

4

In [5]:
d = (1,2,3,4)
d[1]= 4
print(d)

TypeError: 'tuple' object does not support item assignment

In [6]:
a=(1,2,3)
b=(4,5,6)
c=(a+b) # Concatination in Tuple using "+"
print(c)

(1, 2, 3, 4, 5, 6)

In [7]:
# Calculate the length of the Tuple
d=("Sahana", 56, 78, 90)
print(len(d))

4

In [8]:
# Basic Functions in Tuples
a=()
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [9]:
a=(1,2,3)
a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
a.index(3)

2

In [11]:
b=(2,3,4,5,8,3)
b.count(3)# Count function will give me the count of duplicate numbers

2