<a href="https://colab.research.google.com/github/Sahanag15/Python/blob/main/List%2C_Tuple%2C_Set%2C_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Tuples in Python** ->  It is denoted by ().
1. Multiple values can be assigned with same or different types.
2. Value can be fetched using indexing.
3. It is  Immutable.
4. Methods that can be used in Tuples are-
  a. list.count(x)
  b. list.index(x)

In [ ]:
a = (1, 2,3,4)
print(a)

(1, 2, 3, 4)

In [ ]:
b = (1,10234,"SAHANA")
print(b)

(1, 10234, 'SAHANA')

In [ ]:
c = (4,5,7)
print(c[0])

4

In [ ]:
c[0]

4

In [ ]:
d = (1,2,3,4)
d[1]= 4
print(d)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a=(1,2,3)
b=(4,5,6)
c=(a+b) # Concatination in Tuple using "+"
print(c)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Calculate the length of the Tuple
d=("Sahana", 56, 78, 90)
print(len(d))

4

In [ ]:
# Basic Functions in Tuples
a=()
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
a=(1,2,3)
a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a.index(3)

2

In [ ]:
b=(2,3,4,5,8,3)
b.count(3)# Count function will give me the count of duplicate numbers

2

**List in Python** -> List is an ordered collection of elements enclosed with in square braces [].
1. It is mutable.(The values can be modified)

In [ ]:
l1 = [1,"sparts",3.14,True,3+5j]
l1

[1, 'sparts', 3.14, True, (3+5j)]

In [ ]:
type(l1)

list

In [ ]:
#Extracting Individual Elements
l1

[1, 'sparts', 3.14, True, (3+5j)]

In [ ]:
l1[-1] #to display the last element in the list

(3+5j)

In [ ]:
l1[1:4]

['sparts', 3.14, True]

In [ ]:
# Modifying a List
# 1. Changing the element at 0th index
l1

[1, 'sparts', 3.14, True, (3+5j)]

In [ ]:
l1[0]=100
l1

[100, 'sparts', 3.14, True, (3+5j)]

In [ ]:
l1.append("Hello world") # to add the element in the Last
l1

[100, 'sparts', 3.14, True, (3+5j), 'Hello world']

In [ ]:
# Modifying a List
l1

[100, 'sparts', 3.14, True, (3+5j)]

In [ ]:
# 1. Reversing elements of a list
l1.reverse()
l1

[(3+5j), True, 3.14, 'Python', 'sparts', 100]

In [ ]:
l1.reverse()
l1

[100, 'sparts', 'Python', 3.14, True, (3+5j)]

In [ ]:
# 2. Inserting element at a specified index
l1.insert(3,"Python") # In insert method there are 2 parameter 1 is index position and the other is element itself
l1

[100, 'sparts', 'Python', 'Python', 3.14, True, (3+5j)]

In [ ]:
# 3. Sorting a List
l2 = ["mango","banana","guava","apple"]
l2.sort()
l2

['apple', 'banana', 'guava', 'mango']

In [ ]:
# List Basic Operations
# 1. Concatenating lists
l1 = [1,2,3,4,5]
l2 = [5,4,3,2,1]
l1+l2

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

In [ ]:
l2+l1

[5, 4, 3, 2, 1, 1, 2, 3, 4, 5]

In [ ]:
# 2. Repeating elements
l1*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

**Dictionary in Python** -> Dictionary is an unordered collection of key-value pairs enclosed with {} curly braces.
Dictionary is a Mutable.

In [ ]:
fruits= {"Apple":50,"banana":30,"orange":40,"peach":100}

In [ ]:
type(fruits)

dict

In [ ]:
# Extracting Keys and Values
# 1. Extracting Keys
fruits.keys()

dict_keys(['Apple', 'banana', 'orange', 'peach'])

In [ ]:
# 2. Extracting Values
fruits.values()

dict_values([50, 30, 40, 100])

In [ ]:
# Modifying a Dictionary
fruits

{'Apple': 50, 'banana': 30, 'orange': 40, 'peach': 100}

In [ ]:
# 1. adding a new element
fruits["kiwi"]=50
fruits

{'Apple': 50, 'banana': 30, 'orange': 40, 'peach': 100, 'kiwi': 50}

In [ ]:
# 2. Changing an existing element
fruits["Apple"]=100
fruits

{'Apple': 100, 'banana': 30, 'orange': 40, 'peach': 100, 'kiwi': 50}

In [ ]:
# Dictionary Functions
fruits1 = {"apple":50,"banana":10}
fruits2 = {"mango":100,"Dragonfruit":500}

In [ ]:
# 1. Update one dictionary's elements with another
fruits1.update(fruits2)
fruits1

{'apple': 50, 'banana': 10, 'mango': 100, 'Dragonfruit': 500}

In [ ]:
# 2. Popping an element
fruits1.pop("mango")
fruits1

{'apple': 50, 'banana': 10, 'Dragonfruit': 500}

**Set in Python** -> Set is an unordered and unindexed collection of elements enclosed with{} curly braces. also its an heterogenous values accepted.
1. duplicate values are not allowed in Set.

In [3]:
s1 = {1,"sparta","sparta",1}
s1

{1, 'sparta'}

In [4]:
# Set Operations
s1

{1, 'sparta'}

In [5]:
# 1. adding a new element
s1.add("hello world")
s1

{1, 'hello world', 'sparta'}

In [7]:
# 2. Updating multiple element
s1.update({"abc","jack",3.14})
s1

{1, 3.14, 'abc', 'hello world', 'jack', 'sparta'}

In [8]:
# 3. Removing an element
s1.remove(3.14)
s1

{1, 'abc', 'hello world', 'jack', 'sparta'}

In [ ]:
# Set Function
# 1. Union Function -> It concatenating two sets
# 2. Intersection Function -> It used to get the common elements.

In [9]:
s1 = {1,2,3}
s2 ={"a","b","c"}

In [10]:
# 1. Union Function
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [11]:
# 2. Intersection Function
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
s1.intersection(s2)

{3, 4, 5}